<div class="mt-4">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" name="q" id="exampleInputsearch1" placeholder="Nhập thông tin">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>